html
	head
		title!=title
		link(href='assets/css/index.css',rel='stylesheet')
		script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
		script(src='http://www.echartsjs.com/gallery/vendors/echarts/echarts-all-3.js')
		script(src='assets/js/index.js')
	body
		center
			div(id='bar-chart',style='width: 1200px;height:450px;')
			div(class='margin-40')
			div(id='line-chart',style='width: 1200px;height:450px;')